<div class="recipe-detail">
    <div *ngIf="recipeData.name != '' ; else noRecipeSelected">
        <img [src]="recipeData.imgURL"/>
        <h1>{{ recipeData.name }}</h1>
        <p>{{ recipeData.description }}</p>
    
        <div class="dropdown">
            <button (click)="show = !show">Manage Recipe</button>
    
            <div [ngStyle]="{display:show ?'block': 'none' }">
                <p>To Shopping List</p>                                                                                                                                                                                                                                                                                         
                <p>Edit Recipe</p>
                <p>Delete Recipe</p>
            </div>
        </div>
    
        <div *ngFor="let ingredient of recipeData.ingredients" class="ingredient">
            <p>{{ingredient.name}}</p>
            <p class="gap">-</p>
            <p>{{ingredient.amount}}</p>
        </div>
    </div>
    <ng-template #noRecipeSelected>
        <h1>No Recipe Selected</h1>
    </ng-template>

</div>